.coaches__wrap {
  position: relative;
  margin: 7px auto 120px;
  max-width: $desktop-wrap;
}

.coaches__title {
  margin: 0 0 56px 0;
  font-family: $font-family_title;
  font-size: $title_desktop;
  line-height: $line-height_desktop;
  letter-spacing: 0.03em;
  color: $text-color_dark;
}

.coaches__list {
  margin: 0;
  padding: 0;
}

.coaches__item {
  width: 260px;
  margin-right: 40px;
}

@media (max-width: $tablet-breakpoint) {
  .coaches__wrap {
    max-width: $tablet-wrap;
    margin: auto auto 91px;
  }

  .coaches__title {
    margin: 0 0 44px 0;
    font-size: $title_tablet;
    line-height: $line-height_tablet;
    text-align: center;
  }

  .coaches__list {
    margin: auto;
    width: 566px;
  }

  .coaches__item {
    margin-right: 30px;
    width: 268px;
  }

  .coaches__photo {
    width: 100%;
  }
}

@media (max-width: $phone-breakpoint) {
  .coaches__wrap {
    max-width: $phone-wrap;
    margin: auto;
    padding-bottom: 88px;
  }

  .coaches__title {
    font-size: $title_phone;
    line-height: $line-height_phone;
  }

  .coaches__list {
    width: 226px;
  }

  .coaches__item {
    width: 226px;
  }
}
