.nav-menu__link {
    font-family: "Roboto Condensed";
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;

    
    &:hover {
        transition: 0.5s;
        color: grey;
    }

}