.abonements {
  background-color: $grey;
  background-image: url("../img/blin@1x.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .abonements {
    background-image: url("../img/blin@2x.png");
    background-size: 321px auto;
  }
}

.abonements__item {
  display: inline-block;
  margin: 0 0 -2px;
  padding: 0 0 11px 0;
  font-size: 20px;
  line-height: $line-height_main;
  color: rgba(16, 38, 84, 0.5);
  transition: $transition;
  cursor: pointer;

  &:hover {
    color: $text-color_dark;
    transition: $transition;
    border-bottom: 2px solid #d10a42;
  }

  &:not(:last-child) {
    margin-right: 43px;
  }
}

.abonements__item_choosen_yes {
  color: $text-color_dark;
  border-bottom: 2px solid #d10a42;
}

.abonements__list {
  max-width: 341px;
  width: 100%;
  margin: auto;
  padding: 0;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.abonements__title {
  margin: 0 0 38px 0;
  padding: 0;
  font-family: $font-family_title;
  font-weight: bold;
  font-size: $title_desktop;
  line-height: $line-height_desktop;
  letter-spacing: 0.03em;
}

.abonements__types-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.abonements__types-item {
  margin: 39px 0 0;
  width: 360px;
  box-sizing: border-box;
  background-color: $white;
}

.abonements__wrap {
  position: relative;
  max-width: $desktop-wrap;
  margin: auto;
  padding: 115px 0 120px;
  text-align: center;
}

@media (max-width: $tablet-breakpoint) {
  .abonements__wrap {
    padding: 96px 0 102px;
  }

  .abonements__title {
    margin: 0 0 33px;
    font-size: $title_tablet;
    line-height: $line-height_tablet;
  }

  .abonements__list {
    margin-bottom: 5px;
  }

  .abonements__item {
    font-size: 18px;

    &:nth-child(2n) {
      padding: 0 55px 11px;
    }
  }

  .abonements__types-list {
    flex-direction: column;
    align-items: center;
  }

  .abonements__types-item {
    width: 442px;
    margin: 40px 0 0;
  }
}

@media (max-width: $phone-breakpoint) {
  .abonements__wrap {
    padding: 66px 0 35px;
  }

  .abonements__title {
    margin: 0 0 26px;
    font-size: $title_phone;
    line-height: $line-height_phone;
  }

  .abonements__list {
    margin-bottom: 34px;
  }

  .abonements__item {
    font-size: 16px;

    &:nth-child(2n) {
      padding: 0 46px 11px;
    }
  }

  .abonements__types-item {
    width: 100%;
    margin: 0 0 35px;
  }
}
