.action {
  padding: 18px 28px 28px 28px;
  border: 7px solid;
  border-image: $gradient-color;
  border-image-slice: 1;

  &:first-child {
    margin-bottom: 40px;
  }
}

.action__desc {
  margin: 0;
  line-height: 140%;
  color: $text-color_light;
}

.action__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid $text-color_light;
  color: $text-color_light;
  transition: $transition;

  &:hover {
    text-shadow: 3px 3px 5px black;
    transition: $transition;
  }
}

.action__title {
  margin: 0 0 3px;
  font-weight: bold;
  font-size: 26px;
  line-height: $line-height_main;
  color: $text-color_light;
}

@media (max-width: $tablet-breakpoint) {
  .action {
    width: 48%;
    padding: 18px 56px 29px 28px;
    box-sizing: border-box;

    &:first-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $phone-breakpoint) {
  .action {
    width: 100%;
    text-align: center;
    padding: 28px 54px 39px;

    &:not(:last-child) {
      padding: 31px 30px 40px 27px;
      margin-bottom: 31px;
    }
  }

  .action__desc {
    margin: 0px 0 25px;
  }

  .action:first-child .action__desc {
    margin-bottom: 23px;
  }
}
