.aside__wrap {
  position: relative;
  margin: auto;
  max-width: $desktop-wrap;
  box-sizing: border-box;
  padding: 120px 0 110px;
}

.aside__title {
  margin: 0 49px 0 0;
  padding: 0;
  width: 201px;
  font-family: $font-family_title;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;
  color: $white;
}

.aside__text-container {
  padding: 77px 77px 85px 79px;
  background-color: #ed0233;
  box-sizing: border-box;
  max-width: 500px;
}

.aside__desc {
  margin: 15px 0 0;
  font-size: 18px;
  line-height: $line-height_main;
  color: $white;
}

.aside__button {
  display: inline-block;
  padding: 25px 111px 24px;
  margin: 45px 0 0 -3px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  transition: $transition;

  &:hover {
    background-color: $white;
    color: $red;
    transition: $transition;
  }
}

.aside__button_border-color_white {
  border: 4px solid $white;
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
}

.aside__photo {
  width: 100%;
  max-width: 660px;
  background-color: $white;
  background-image: url("../img/man-aside@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .aside__photo {
    background-image: url("../img/man-aside@2x.jpg");
  }
}

@media (max-width: $tablet-breakpoint) {
  .aside__wrap {
    padding: 100px 0 96px;
    justify-content: center;
  }

  .aside__text-container {
    padding: 45px 44px 51px;
  }

  .aside__title {
    width: 117px;
    margin: 0 29px 0 0;
    font-size: 52px;
    line-height: 52px;
  }

  .aside__desc {
    margin: 4px 0 0;
    font-size: 12px;
  }

  .aside__button {
    padding: 12px 51px;
    margin: 30px 0 0 -1px;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid $white;
  }

  .aside__photo {
    max-width: 386px;
  }
}

@media (max-width: $phone-breakpoint) {
  .aside__wrap {
    padding: 70px 15px 68px;
    flex-direction: column;
    align-items: center;
  }

  .aside__text-container {
    max-width: 386px;
    width: 100%;
  }
  
  .aside__photo {
    max-width: 386px;
    width: 100%;
    height: 292px;
    background-size: cover;
    background-position: center;
  }
}
