.benefits {
  background: $grey;
}

.benefits__wrap {
  position: relative;
  max-width: 1040px;
  margin: auto;
  padding: 116px 0 116px;
}

.benefits__title {
  margin: 0 0 48px;
  font-family: $font-family_title;
  font-size: $title-desktop;
  line-height: $line-height_desktop;
  letter-spacing: 0.03em;
  text-align: center;
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: $tablet-breakpoint) {
  .benefits__wrap {
    padding: 91px 44px 91px 45px;
  }

  .benefits__title {
    font-size: $title_tablet;
    line-height: $line-height_tablet;
    margin: 0 0 52px;
  }

  .benefits__list {
    justify-content: center;
  }
}

@media (max-width: $phone-breakpoint) {
  .benefits__wrap {
    padding: 67px 0 62px;
  }

  .benefits__title {
    font-size: 32px;
    line-height: 32px;
  }
}
