.bottomline {
  background-color: $black;
}

.bottomline__wrap {
  position: relative;
  max-width: $desktop-wrap;
  margin: auto;
  padding: 42px;
  justify-content: space-between;
}

.bottomline__socials {
  justify-content: space-between;
}

.bottomline__logo_hidden_yes {
  display: none;
}

@media (max-width: $tablet-breakpoint) {
  .bottomline__wrap {
    padding: 45px 0 41px;
  }

  .bottomline__socials {
    width: 99px;
  }
}

@media (max-width: $phone-breakpoint) {
  .bottomline__wrap {
    padding: 45px 0 46px;
  }

  .bottomline__logo {
    display: none;
  }

  .bottomline__logo_hidden_yes {
    display: block;
  }

  .bottomline__socials {
    width: 50%;
  }
}
