.comments__wrap {
  position: relative;
  max-width: 560px;
  margin: 114px auto 123px;
}

.comments__title {
  margin: 0 0 58px;
  text-align: center;
  font-family: $font-family_title;
  font-size: $title_desktop;
  line-height: $line-height_desktop;
  letter-spacing: 0.03em;
}

.comments__list {
  position: relative;
  margin: auto;
  padding: 0;
  list-style-type: none;
}

.comments__item {
  position: relative;
  width: 560px;
  padding: 62px 62px 57px 170px;
  background-color: $text-color_light;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);
  box-sizing: border-box;
  justify-content: space-between;
}

.comments__avatar {
  position: absolute;
  left: 62px;
  width: 80px;
  height: 80px;
}

@media (max-width:$tablet-breakpoint) {
  .comments__wrap {
    margin: 96px auto 99px;
  }

  .comments__title {
    font-size: $title_tablet;
    line-height: $line-height_tablet;
    margin: 0 0 45px;
  }
}

@media (max-width: $phone-breakpoint) {
  .comments__wrap {
    margin: 67px auto 71px;
    padding: 0 47px;
  }

  .comments__title {
    font-size: $title_phone;
    line-height: $line-height_phone;
  }

  .comments__list {
    width: 226px;
  }

  .comments__item {
    max-width: 226px;
    text-align: center;
    padding: 48px 25px 35px;
  }

  .comments__avatar {
    width: 68px;
    height: 68px;
    left: 42px;
    top: 40px;
  }
}
