.footer__wrap {
  max-width: $desktop-wrap;
  margin: auto;
  justify-content: space-between;
}

.footer__container_theme_gradient {
  background: linear-gradient(to right, #102654 50%, white 50%);
  border-top: 1px solid #74819c;
}

@media (max-width: $tablet-breakpoint) {
  .footer__wrap {
    padding: 0 163px 0 133px;
    justify-content: center;
  }

  .footer__container_theme_gradient {
    background: linear-gradient(to bottom,#102654 48%,#fff 48%);;
    border-top: none;
  }
}
