.form button {
  display: block;
  margin: 29px 0 0;
  padding: 17px 156px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 3px solid $white;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
  transition: $transition;

  &:hover {
    transition: $transition;
    background-color: $white;
    color: $text-color_dark;
  }
}

.form input {
  width: 190px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;
  outline: 0;

  &:nth-of-type(2n + 1) {
    margin-right: 25px;
  }

  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $white;
  }

  &:hover {
    border-color: grey;
    transition: $transition;

    &::placeholder {
      transition: $transition;
      color: grey;
    }
  }

  &:focus {
    border-color: grey;
    transition: $transition;

    &::placeholder {
      transition: $transition;
      color: transparent;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .form input {
    width: 205px;

    &:nth-of-type(2n + 1) {
      margin-right: 57px;
    }
  }

  .form button {
    padding: 17px 187px;
  }
}

@media (max-width: $phone-breakpoint) {
  .form input {
    width: 100%;
    margin-bottom: 38px;

    &:first-child {
      margin-right: 0;
      margin-bottom: 36px;
    }
  }

  .form button {
    padding: 17px 96px;
    margin-top: 0;
  }
}
