.form-container {
  max-width: 410px;
  width: 100%;
  margin: 57px 0 68px;
  background-color: $text-color_dark;
  box-sizing: border-box;
}

.form-container__title {
  margin: 0 0 40px;
  font-family: $font-family_title;
  font-size: $title_desktop;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: lowercase;
  color: $white;
}

@media (max-width: $tablet-breakpoint) {
  .form-container {
    max-width: 472px;
    margin: 0;
    padding: 67px 0 66px;
  }

  .form-container__title {
    font-size: $title_tablet;
    line-height: $line-height_tablet;
  }
}

@media (max-width: $phone-breakpoint) {
  .form-container {
    padding: 65px 15px 68px 15px;
  }

  .form-container__title {
    font-size: $title_phone;
    line-height: $line-height_phone;
    margin: 0 0 44px;
  }
}
