.gym__wrap {
  position: relative;
  margin: auto;
  padding: 120px 0 227px 0;
  max-width: $desktop-wrap;
}

.gym__video {
  position: absolute;
  top: 54%;
  left: 37.7%;
  padding-top: 64px;
  width: 364px;
  height: 228px;
  text-align: center;
  background-color: $white;
  background-image: linear-gradient(rgba(20, 54, 122, 0.5)),
    url("../img/gym-small-photo@1x.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .gym__video {
   background-image: url("../img/gym-small-photo@2x.jpg");
   background-size: 364px auto;
 }
}

.gym__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: $font-family_title;
  font-size: $title_desktop;
  line-height: $line-height_desktop;
  letter-spacing: 0.03em;
}

.gym__text-container {
  width: 355px;
  margin: 0 85px 0 60px;
  padding-top: 43px;
  box-sizing: border-box;
}

.gym__photo {
  padding-bottom: 8px;
}

.gym__photo_hidden_yes {
  display: none;
  margin: auto auto 40px;
}

.gym__video_hidden_yes {
  position: relative;
  display: none;
  margin: auto auto 70px;
  width: 320px;
  height: 167px;
  padding-top: 46px;
  background: rgba(20, 54, 122, 0.5);
  background-image: linear-gradient(rgba(20, 54, 122, 0.5)),
    url("../img/gym-small-photo_phone.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  text-align: center;
}

.gym__desc {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-size: 18px;
  line-height: $line-height_main;
}

.gym__desc_weight_light {
  font-weight: 300;
  font-size: 16px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .gym__wrap {
    max-width: $tablet-wrap;
    padding: 96px 0 175px;
  }

  .gym__text-container {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .gym__title {
    font-size: $title_tablet;
    line-height: $line-height_tablet;
  }

  .gym__desc {
    margin: 0 0 34px;
  }

  .gym__desc:last-child {
    display: none;
  }

  .gym__desc_weight_light {
    padding: 0 88px;

    &:not(:last-child) {
      margin-bottom: 43px;
    }
  }

  .gym__photo {
    width: 678px;
    height: 345px;
  }

  .gym__video {
    width: 266px;
    height: 167px;
    padding-top: 47px;
    top: 68.9%;
    left: 50%;
    transform: translateX(-50%);
  }

  .gym__button {
    width: 73px;
    height: 73px;
  }
}

@media (max-width: $phone-breakpoint) {
  .gym__wrap {
    max-width: $phone-wrap;
    padding: 66px 0 0;
  }

  .gym__title {
    margin: 0px 0 9px;
    font-size: $title_phone;
    line-height: $line-height_phone;
  }

  .gym__text-container {
    text-align: start;
  }

  .gym__desc {
    margin: 0 0 24px;
  }

  .gym__desc_weight_light {
    padding: 0 33px 0 0;

    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }

  .gym__photo {
    display: none;
  }

  .gym__photo_hidden_yes {
    display: block;
  }

  .gym__video {
    display: none;
  }

  .gym__video_hidden_yes {
    display: block;
  }
}
