.header-socials__list {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0;
  padding: 0 0 41px 0;
  list-style-type: none;
}

.header-socials__link {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
    text-shadow: 3px 3px 5px black;
    transition: $transition;
  }
}

.header-socials__item {
  &:not(:first-child) {
    margin-top: 15px;
    text-align: end;
  }
}
