.headline {
  display: flex;
  margin-bottom: -4px;
  justify-content: space-between;
}

.headline__phone {
  font-family: $font-family_title;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $white;
  text-decoration: none;
  transition: $transition;

  &:hover {
    text-shadow: 3px 3px 5px black;
    transition: $transition;
  }
}

@media (max-width: $tablet-breakpoint) {
  .headline {
    margin-bottom: 20px;
    padding: 0 45px;
  }

  .headline__phone {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}

@media (max-width: $phone-breakpoint) {
  .headline {
    margin-bottom: 0;
    padding: 0;
  }

  .headline__phone {
    font-size: 20px;
    line-height: 20px;
  }
}
