.inner-block {
  background: rgba(16, 38, 84, 0.89);
  box-sizing: border-box;
}

.inner-block__desc {
  margin: 0;
  font-weight: normal;
  line-height: $line-height_main;
  color: #b6bdcc;
  text-align: center;
}

.inner-block__item {
  font-size: 14px;
  line-height: $line-height_main;
  color: $white;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.inner-block__list {
  padding: 0 46px 0 71px;
  margin-top: 32px;
  text-align: start;
  list-style: disc;
}

.inner-block__title {
  margin: 54px 0 0;
  font-weight: bold;
  font-size: 18px;
  color: $white;
  text-align: center;
}

.inner-block_hidden_yes {
  display: none;
}

@media (max-width: $phone-breakpoint) {
  .inner-block__title {
    margin: 44px 0 0;
  }

  .inner-block__list {
    padding: 0 31px 0 50px;
  }
}