.next {
  position: absolute;
  right: -62px;
  bottom: 32.5%;
  outline: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: $transition;

  &:hover {
    transition: $transition;
    right: -60px;
  }
}

.next_phone {
  position: absolute;
  bottom: 47.5%;
  right: 0;
  display: none !important;
  outline: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: $transition;

  &:hover {
    transition: $transition;
  }
}

.next_section_comments {
  right: -62px;
  bottom: 32.5%;
}

@media (max-width: $tablet-breakpoint) {
  .next {
    right: 0;
  }

  .next_section_comments {
    right: -66px;
  }
}

@media (max-width: $phone-breakpoint) {
  .next {
    display: none !important;
  }

  .next_phone {
    display: block !important;
    bottom: 41.5%;
  }

  .next_section_comments {
    right: -32px;
  }
}
