.prev {
  position: absolute;
  left: -62px;
  bottom: 32.5%;
  border: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  transition: $transition;

  &:hover {
    transition: $transition;
    left: -66px;
  }
}

.prev_phone {
  position: absolute;
  bottom: 47.5%;
  display: none !important;
  outline: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: $transition;

  &:hover {
    transition: $transition;
  }
}

.prev_section_comments {
  left: -55px;
  bottom: 41.5%;
}

@media (max-width: $tablet-breakpoint) {
  .prev {
    left: 0;
  }

  .prev_section_comments {
    left: -56px;
  }
}

@media (max-width: $phone-breakpoint) {
  .prev {
    display: none !important;
  }

  .prev_phone {
    display: block !important;
    bottom: 41.5%;
  }

  .prev_section_comments {
    left: -32px;
  }
}
