.prev {
  position: absolute;
  left: -56px;
  bottom: 132px;
  outline: 0;
  cursor: pointer;
}

.prev_phone {
  position: absolute;
  bottom: 47.5%;
  display: none !important;
  outline: 0;
  cursor: pointer;
}

.prev_section_comments {
  left: -55px;
  bottom: 106px;
}

@media (max-width: $tablet-breakpoint) {
  .prev {
    left: 0;
  }

  .prev_section_comments {
    left: -56px;
    bottom: 106px;
  }
}

@media (max-width: $phone-breakpoint) {
  .prev {
    display: none !important;
  }

  .prev_phone {
    display: block !important;
    bottom: 41.5%;
  }

  .prev_section_comments {
    bottom: 158px;
    left: -32px;
  }
}
