.promo__wrap {
  position: relative;
  max-width: $desktop-wrap;
  margin: auto;
  padding-top: 114px;
}

.promo__photo {
  min-width: 280px;
  background-color: #ed0233;
  background-image: url("../img/girl-promo@1x.jpg");
  background-repeat: no-repeat;
  background-size: 101%;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo__photo {
    background-image: url("../img/girl-promo@2x.jpg");
  }
}

.promo__title {
  margin: 0 0 56px;
  font-family: $font-family_title;
  font-size: $title_desktop;
  line-height: $line-height_desktop;
  letter-spacing: 0.03em;
  text-align: center;
}

.promo__right-container {
  width: 560px;
  box-sizing: border-box;
}

.promo__left-container {
  max-width: 560px;
  width: 100%;
}

.promo__inner-block {
  justify-content: space-between;
}

@media (max-width: $tablet-breakpoint) {
  .promo__wrap {
    padding: 95px 45px 0;
  }

  .promo__title {
    font-size: $title_tablet;
    line-height: $line-height_tablet;
    margin: 0 0 45px;
  }

  .promo__left-container {
    flex-wrap: nowrap;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .promo__right-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .promo__photo {
    background-image: url("../img/girl-promo_tablet@1x.jpg");
    min-width: 399px;
  }
}

@media (max-width: $phone-breakpoint) {
  .promo__wrap {
    padding: 66px 15px 0;
  }

  .promo__title {
    font-size: $title_phone;
    line-height: $line-height_phone;
  }

  .promo__left-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .promo__photo {
    height: 299px;
    min-width: 290px;
  }

  .promo__right-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 290px;
  }
}
