.table {
  margin: auto auto auto -8px;
  border-spacing: 8px;
  position: relative;
}

.table__title {
  font-size: $title_desktop;
  font-weight: bold;
  line-height: $line-height_desktop;
  letter-spacing: 0.03em;
  margin: 0 0 48px;
  padding: 0;
}

.table__cell {
  width: 148px;
  padding: 39px 0;
  box-sizing: border-box;
  font-size: $font-size-cell;
  line-height: 150%;
  background-color: $grey;
  cursor: pointer;
  transition: $transition;
  text-align: center;

  &:hover {
    color: $red;
    border: 2px solid $red;
    background-color: $white;
    transition: $transition;
  }

  &:first-child {
    width: 65px;
    border: 2px solid $text-color_light;
    background-color: $white;
    cursor: default;

  }
}

.table__subtitle {
  border: 2px solid $text-color_light;
  color: #15367a;
  padding: 18px 0;
  background-color: $white;
  cursor: default;

  &:hover {
    color: $text-color_dark;
    border: 2px solid $text-color_light;
  }
}

.table__header .table__cell:first-child {
  visibility: hidden;
}

.table__row {
    transition: $transition;

    &:hover .table__cell:first-child {
        background-color: $red;
        color: $white;
        border: 2px solid $red;
    }

    .table__cell:first-child:hover {
        background-color: $white;
        color: $text-color_light;
        border: 2px solid $text-color_light;
    }
}