.types-item {
  position: relative;
  transition: $transition;
  border: 7px solid transparent;
  z-index: 10;

  &:hover {
    border: 7px solid;
    border-image: $gradient-color;
    border-image-slice: 1;
    transition: $transition;

    .types-item__button {
      color: $white;
      border-color: $white;
      padding: 24px 43px 24px 44px;
      background: $gradient-color;
      transition: $transition;
      outline: 0;
    }
  }
}

.types-item__button {
  display: inline-block;
  padding: 24px 43px 24px 44px;
  margin: 28px 0 60px 1px;
  border: 2px solid $text-color_dark;
  color: $text-color_dark;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  background-color: $white;
  outline: 0;
}

.types-item__desc {
  margin: 10px 0 0;
  padding: 0;
  line-height: $line-height_main;
  color: #495a7d;
}

.types-item__price {
  margin: 11px 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 100px;
  line-height: $line-height_main;
  color: #e8e8e8;
  opacity: 0.48;

  & span {
    color: $text-color_dark;
  }
}

.types-item__price_color_dark-blue {
  color: #103aae;
  opacity: 1;
}

.types-item__price_position_absolute {
  position: absolute;
  top: 183px;
  left: 90px;
  margin: 0;
}

.types-item__price_size_small {
  font-size: 60px;
}


.types-item__title {
  margin: 55px 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  text-align: center;
}

.types-item_choosen_yes {
  border: 7px solid;
  border-image: $gradient-color;
  border-image-slice: 1;

  &:hover {
    border: 7px solid;
    border-image: $gradient-color;
    border-image-slice: 1;
  }

  & button {
    color: $white;
    border-color: $white;
    padding: 24px 43px 24px 44px;
    background: $gradient-color;
  }
}

@media (max-width: $tablet-breakpoint) {
  .types-item__price_position_absolute {
    top: 183px;
    left: 131px;
  }
}

@media (max-width: $phone-breakpoint) {
  .types-item__title {
    margin: 44px 0 0;
    font-size: 22px;
    line-height: 110.16%;
  }

  .types-item__price {
    font-size: 80px;
    
    & span {    
      font-size: 45px;
      margin-left: -2px;}
  }

  .types-item__price_size_small {
    font-size: 48px;
  }

  .types-item__price_position_absolute {
    top: 155px;
    left: 74px;
  }


  .types-item__button {
    padding: 24px 43px 24px 44px;
    margin: 24px 0 47px 1px;
  }

  .abonements__wrap_background_image-tablet {
    display: none;
  }
}
