.prev {
    position: absolute;
    left: -49px;
    bottom: 132px;
    width: 16px;
    height: 32px;
    background-color: transparent;
    border: none;
    background-image: url("../img/arrow-left.png");
    background-repeat: no-repeat;
    outline: 0;
    cursor: pointer;
  }