.blockquote {
  display: inline-block;
  width: 328px;
  margin: -8px 0 0;
  padding: 0;
}

.blockquote__desc {
  margin: 0;
  padding: 0;
  font-family: $font-family_main;
  font-size: 16px;
  line-height: 140%;
  color: $white;
}

.blockquote__author {
  display: block;
  margin: 0 0 13px;
  padding: 0;
  font-family: $font-family_main;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: $line-height_main;
  color: $white;
}

@media (max-width: $phone-breakpoint) {
  .blockquote {
    width: auto;
  }

  .blockquote__author {
    margin: 4px 0 20px 99px;
    text-align: start;
  }
}
