.datetime-container__desc {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  box-sizing: border-box;

  &:first-of-type {
    display: inline-block;
    margin-bottom: 11px;
  }
}
