.form__title {
  margin: 0 0 40px;
  font-family: $font-family_title;
  font-size: $title_desktop;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: lowercase;
  color: $white;
}

.form__submit {
  display: block;
  margin: 29px 0 0;
  padding: 17px 163px 17px 165px;
  font-family: $font-family_main;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 3px solid $white;
  box-sizing: border-box;
  cursor: pointer;
  outline: 0;
  transition: $transition;

  &:hover {
    transition: $transition;
    background-color: $white;
    color: $text-color_dark;
  }
}

.form__input {
  width: 190px;
  padding-bottom: 5px;
  font-family: $font-family_main;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;
  outline: 0;

  &::placeholder {
    font-family: $font-family_main;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $white;
  }

  &:first-child {
    margin-right: 26px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .form__title {
    font-size: $title_tablet;
    line-height: $line-height_tablet;
  }

  .form__input {
    width: 205px;

    &:first-child {
      margin-right: 57px;
    }
  }

  .form__submit {
    padding: 17px 197px 17px 194px;
  }
}

@media (max-width: $phone-breakpoint) {
  .form__title {
    font-size: $title_phone;
    line-height: $line-height_phone;
    margin: 0 0 44px;
  }

  .form__input {
    width: 100%;
    margin-bottom: 38px;
    
    &:first-child {
      margin-right: 0;
      margin-bottom: 36px;
    }
  }

  .form__submit {
    padding: 17px 104px;
    margin-top: 0;
  }
}
