.aside__button {
  padding: 25px 112px 24px 112px;
  margin: 45px 0 0 -3px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  outline: 0;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: white;
    color: #ed0233;
    transition: 0.5s;
  }
}
