.gym__video {
  position: absolute;
  top: 54%;
  left: 37.7%;
  padding-top: 64px;
  width: 364px;
  height: 228px;
  text-align: center;
  background: rgba(20, 54, 122, 0.5);
  background-image: linear-gradient(rgba(20, 54, 122, 0.5)),
    url("../img/gym2.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
}
