.main-header__phone {
  display: block;
  padding-top: 30px;
  font-family: "Bebas Neue";
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: 0.5s;

  &:hover {
    text-shadow: 3px 3px 5px black;
    transition: 0.5s;
  }
}
