.form__submit {
    display: block;
    margin: 29px 0 0;
    padding: 17px 163px 17px 165px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    transition: 0.5s;

    &:hover {
        transition: 0.5s;
        background-color: white;
        color: #102654;
    }
}