.coaches-item__heading {
    position: absolute;
    bottom: 22px;
    left: 56px;
    width: 150px;
    margin: 0;
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}