.headline__phone {
  font-family: "Bebas Neue";
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    text-shadow: 3px 3px 5px black;
    transition: 0.5s;
  }
}
