$white: #ffffff;
$grey: #f8f9fc;
$text-color_dark: #102654;
$text-color_light: #1c3374;
$text-color_white: #ffffff;
$text-color_blue: #2e35ac;
$red: #ed0233;
$black: #030a1a;
$title_desktop: 49px;
$line-height_desktop: 49px;
$title_tablet: 42px;
$line-height_tablet: 42px;
$title_phone: 32px;
$line-height_phone: 32px;
$tablet-breakpoint: 1199px;
$phone-breakpoint: 767px;
$font-family_main: "Roboto Condensed", "Arial", sans-serif;
$font-family_title: "Bebas Neue", "Arial", "sans-serif";
$gradient-color: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
$line-height_main: 150%;
$transition: 0.5s;
$desktop-wrap: 1160px;
$tablet-wrap: 678px;
$phone-wrap: 290px;
$font-size-cell: 18px;