.gym__video {
  position: absolute;
  padding-top: 66px;
  top: 71%;
  left: 38%;
  background-image: url("../img/gym2.jpg");
  background-repeat: no-repeat;
  width: 364px;
  height: 228px;
  text-align: center;
  box-sizing: border-box;
}
