.form-container {
  margin: 55px 0 68px;
  background-color: $text-color_dark;
  box-sizing: border-box;
}

@media (max-width: $tablet-breakpoint) {
  .form-container {
    margin: 0;
    padding: 65px 162px 68px 132px;
  }
}

@media (max-width: $phone-breakpoint) {
  .form-container {
    padding: 65px 15px 68px 15px;
  }
}