.abonements__item {
  display: inline-block;
  margin: 0;
  padding: 0 0 11px 0;
  font-family: "Roboto Condensed";
  font-size: 20px;
  line-height: 150%;
  color: rgba(16, 38, 84, 0.5);
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    color: #102654;
    transition: 0.5s;
    border-bottom: 2px solid #d10a42;
  }

  &:nth-child(2) {
    padding: 0 47px 11px;
  }
}
