.abonements {
  background-color: $grey;
}

.abonements__item {
  display: inline-block;
  margin: 0;
  padding: 0 0 11px 0;
  font-family: $font-family_main;
  font-size: 20px;
  line-height: $line-height_main;
  color: rgba(16, 38, 84, 0.5);
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  transition: $transition;
  cursor: pointer;

  &:hover {
    color: $text-color_dark;
    transition: $transition;
    border-bottom: 2px solid #d10a42;
  }

  &:nth-child(2) {
    padding: 0 47px 11px;
  }
}

.abonements__item_choosen_yes {
  color: $text-color_dark;
  border-bottom: 2px solid #d10a42;
}

.abonements__list {
  padding: 0;
  text-align: center;
  font-size: 0;
}

.abonements__title {
  margin: 0 0 38px 0;
  padding: 0;
  font-family: $font-family_title;
  font-weight: bold;
  font-size: $title_desktop;
  line-height: $line-height_desktop;
  letter-spacing: 0.03em;
  color: $text-color_dark;
}

.abonements__types-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.abonements__types-item {
  margin: 39px 0 0;
  width: 360px;
  box-sizing: border-box;
  background-color: $white;
}

.abonements__wrap {
  position: relative;
  max-width: $desktop-wrap;
  margin: auto;
  padding: 115px 0 120px;
  text-align: center;
}

.abonements__wrap_background_image {
  position: absolute;
  right: -111px;
  bottom: -150px;
}

.abonements__wrap_background_image-tablet {
  position: absolute;
  display: none;
}

@media (max-width: $tablet-breakpoint) {
  .abonements__wrap {
    max-width: $tablet-wrap;
    padding: 96px 0 102px;
  }

  .abonements__title {
    margin: 0 0 33px;
    font-size: $title_tablet;
    line-height: $line-height_tablet;
  }

  .abonements__list {
    margin-bottom: 5px;
  }

  .abonements__item {
    font-size: 18px;

    &:nth-child(2) {
      padding: 0 55px 11px;
    }
  }

  .abonements__types-list {
    flex-direction: column;
    align-items: center;
  }

  .abonements__types-item {
    width: 442px;
    margin: 40px 0 0;
  }

  .abonements__wrap_background_image {
    display: none;
  }

  .abonements__wrap_background_image-tablet {
    display: block;
    right: -45px;
    bottom: -125px;
  }
}

@media (max-width: $phone-breakpoint) {
  .abonements__wrap {
    max-width: $phone_wrap;
    padding: 66px 0 35px;
  }

  .abonements__title {
    margin: 0 0 26px;
    font-size: $title_phone;
    line-height: $line-height_phone;
  }

  .abonements__list {
    margin-bottom: 34px;
  }

  .abonements__item {
    font-size: 16px;

    &:nth-child(2) {
      padding: 0 46px 11px;
    }
  }

  .abonements__types-item {
    width: 100%;
    margin: 0 0 35px;
  }
}
