.types-item__price_dark {
    position: absolute;
    padding-right: 45px;
    bottom: 160px;;
    left: 90px;
    margin: 0;
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 60px;
    line-height: 150%;
    color: #103AAE;
    background-image: url(../img/ruble.png);
    background-repeat: no-repeat;
    background-position: 136px 24px;
}