.next {
  position: absolute;
  right: -56px;
  bottom: 132px;
  outline: 0;
  cursor: pointer;
}

.next_phone {
  position: absolute;
  bottom: 47.5%;
  right: 0;
  display: none !important;
  outline: 0;
  cursor: pointer;
}

.next_section_comments {
  right: -55px;
  bottom: 106px;
}

@media (max-width: 1199px) {
  .next {
    right: 0;
  }

  .next_section_comments {
    right: -56px;
    bottom: 106px;
  }
}

@media (max-width: 767px) {
  .next {
    display: none !important;
  }

  .next_phone {
    display: block !important;
    bottom: 41.5%;
  }

  .next_section_comments {
    bottom: 158px;
    right: -32px;
  }
}
