.promo__wrap {
  position: relative;
  max-width: $desktop-wrap;
  margin: auto;
  padding-top: 110px;
}

.promo__title {
  margin: 0 0 56px;
  font-family: $font-family_title;
  font-size: $title_desktop;
  line-height: $line-height_desktop;
  letter-spacing: 0.03em;
  color: $text-color_dark;
  text-align: center;
}

.promo__right-container {
  width: 560px;
  box-sizing: border-box;
}

.promo__left-container {
  width: 560px;
}

.promo__inner-block {
  justify-content: space-between;
}

.promo__photo_tablet {
  display: none;
}

.promo__photo_phone {
  display: none;
}

@media (max-width: $tablet-breakpoint) {
  .promo__wrap {
    max-width: $tablet_wrap;
    padding-top: 95px;
  }

  .promo__title {
    font-size: $title_tablet;
    line-height: $line-height_tablet;
    margin: 0 0 45px;
  }

  .promo__left-container {
    width: 100%;
    margin-bottom: 30px;
  }

  .promo__right-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .promo__photo {
    display: none;
  }

  .promo__photo_tablet {
    display: block;
  }
}

@media (max-width: $phone-breakpoint) {
  .promo__wrap {
    max-width: $phone-wrap;
    padding-top: 66px;
  }

  .promo__title {
    font-size: $title_phone;
    line-height: $line-height_phone;
  }

  .promo__photo_tablet {
    display: none;
  }
  
  .promo__photo_phone {
    display: block;
  }

  .promo__right-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
